*{
    
}

/**Estilização do cabeçalho */

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.banner{
    text-align: center;
    margin-left: 35%;
    width: 30%;
    margin-top: 150px;
    
    
}

.banner-content p{
    max-width: 400px;
    font-size: 16px;
    font-family: tahoma;
}


h1{
    /*-webkit-background-clip: text;*/
    /*color: transparent;*/
    font-size: 35px;
    color: blue;
    font-family: "Bebas Neue";
}

button{
    background-color: transparent;
    color: rgb(21, 120, 250);
    border: solid 1px rgb(21, 120, 250);
    padding: 10px;
}

/** */


#course-content{
    text-align: center;
    margin-left: 35%;
    width: 30%;
    background-image: linear-gradient(black rgb(22, 76, 90) black);
}


#transform-world{
    text-align: center;
    margin-left: 35%;
    width: 30%;

}

#professional-challenges{
    text-align: center;
    margin-left: 35%;
    width: 30%;
}


footer{
    text-align: center;
    margin-left: 35%;
    width: 30%
}